Ebuy/Service References/Data.Zhidao.ServiceReference/AskUGCSyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://data.zhidao.yiche.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://data.zhidao.yiche.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://data.zhidao.yiche.com/">
      <s:element name="ReceiveMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUGCSyncEntityInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="entityType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUGCSyncEntityInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUGCSyncEntityInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveMessageSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveMessage" />
  </wsdl:message>
  <wsdl:message name="ReceiveMessageSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetUGCSyncEntityInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUGCSyncEntityInfo" />
  </wsdl:message>
  <wsdl:message name="GetUGCSyncEntityInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUGCSyncEntityInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="AskUGCSyncServiceSoap">
    <wsdl:operation name="ReceiveMessage">
      <wsdl:input message="tns:ReceiveMessageSoapIn" />
      <wsdl:output message="tns:ReceiveMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUGCSyncEntityInfo">
      <wsdl:input message="tns:GetUGCSyncEntityInfoSoapIn" />
      <wsdl:output message="tns:GetUGCSyncEntityInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AskUGCSyncServiceSoap" type="tns:AskUGCSyncServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveMessage">
      <soap:operation soapAction="http://data.zhidao.yiche.com/ReceiveMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUGCSyncEntityInfo">
      <soap:operation soapAction="http://data.zhidao.yiche.com/GetUGCSyncEntityInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AskUGCSyncServiceSoap12" type="tns:AskUGCSyncServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveMessage">
      <soap12:operation soapAction="http://data.zhidao.yiche.com/ReceiveMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUGCSyncEntityInfo">
      <soap12:operation soapAction="http://data.zhidao.yiche.com/GetUGCSyncEntityInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AskUGCSyncService">
    <wsdl:port name="AskUGCSyncServiceSoap" binding="tns:AskUGCSyncServiceSoap">
      <soap:address location="http://data.zhidao.yiche.com/AskUGCSyncService.asmx" />
    </wsdl:port>
    <wsdl:port name="AskUGCSyncServiceSoap12" binding="tns:AskUGCSyncServiceSoap12">
      <soap12:address location="http://data.zhidao.yiche.com/AskUGCSyncService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>